# Setup.py
*.egg
*egg-info
# Documentation
_build
build
.Python

# Virtual environment
bin/
lib/
lib64
include/
src/
dist/
man/

# Certificates
certs/

# Production server
logs/
pip-log.txt

# Testing
.coverage

# Compiled
*.pyc

# Temp vim files
*.swp
*.swo

#Rope project temps
.ropeproject/
project/.ropeproject/

#personal stuffs
todo

#db
*.db
*.sqlite
project/*.db
project/*.sqlite

#public output of media and static assets
project/public/static
project/public/media

