include readme.txt
include news.txt
include license.txt
include faq.txt
include changelog.txt
include authors.txt
include thanks.txt
include install.txt
include todo.txt
recursive-include camelot *.png *.doc *.qss *.html *.qm
recursive-include camelot_example *.jpg *.png *.doc *.qss *.html *.qm
recursive-include doc *.rst *.html *.png

